.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: min(93vw, 1240px);
   height: 100%;
   flex-grow: 1;
}

.wrapper {
   display: flex;
   min-width: 100%;
   align-items: center;
   justify-content: center;
}