.keyboard {
   border-radius: 15px;
   font-size: 1.8rem;
   width: 100%;
   width: 1000px;


   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
   }

   &__row {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-grow: 0;

      &:nth-last-child(1) {
         width: 50%;
      }
   }

   &__letter {
      z-index: 2;
   }

   &__btn {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      cursor: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000c9;
   }

   &__mistakeKey {
      backdrop-filter: blur(10px);
      background: #ffffff3b;
   }
}

@media screen and (max-width: 1090px) {
   .keyboard {
      width: 800px;
      font-size: 1.3rem;

      &__container {
         gap: min(10px, 0.7vw);
      }

      &__row {
         gap: min(10px, 0.7vw);
      }

      &__btn {
         width: 50px;
         height: 50px;
      }
   }
}

@media screen and (max-width: 860px) {
   .keyboard {
      display: none;
   }
}


.highlight {
   border: 5px outset #00ff37;
   color: rgb(125, 252, 125)
}

.misprint {
   position: relative;
   overflow: hidden;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 0, 0, 0.617);
      z-index: -1;
   }
}


.functional_btn {
   flex-grow: 1;
   font-size: 1rem;
}

.purple {
   background: #c76ef7de;
}

.red {
   background: #ff8c8c;
}

.blue {
   background: #62b4f8;
}

.green {
   background: #88f7a0;
}

.yellow {
   background: #f7ed83;
}

.grey {
   background: #e3e3e352;
}

.spaceBtn {
   flex: 0 0 45%;
   margin: 0 auto;
}